.badge-request {
  background-color: #002f4c;
  color: white; }

.badge {
  background-color: #e6e6e6; }

.top-biz {
  background-color: #002f4c;
  color: white; }

.top-biz a {
  color: white; }

.top-bar ul {
  background-color: #002f4c; }

.text-center {
  text-align: center; }

.rounded {
  border-radius: 50%; }

.emp-details {
  padding: 5vh; }

.navigation {
  background-color: #002f4c; }

.tabs-title {
  display: inline-block; }

.spacer {
  padding: 4vh; }

.is-active {
  background: #e6e6e6; }

.tabs-title a:hover {
  background: #f2f2f2; }

.tabs {
  border: none; }

.admin-details a {
  color: #002f4c;
  font-weight: 500;
  font-size: .875rem; }

.emp-photo {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border-right: 1px grey; }

.admin-button {
  background-color: #002f4c; }

.emp-badges {
  margin-top: 20px; }

.badges-padding {
  margin: 2px; }

.emp-manager {
  border-right: 1px solid lightgray; }

.emp-bottom-section {
  border-top: 1px solid lightgray; }

.emp-manager-image {
  border-radius: 50%;
  height: 165px;
  width: 165px; }

.emp-reports-image {
  border-radius: 50%;
  height: 140px;
  width: 140px; }

.collapse-switch {
  width: 175px !important;
  height: 100% !important;
  background: none !important;
  border: none !important;
  margin-left: 75px; }

.Treant .node.collapsed {
  outline-color: #006eb2; }

.tree-simple p {
  margin: 0px 0px 0px 85px;
  color: black; }

.tree-simple .node {
  width: 250px;
  height: 75px;
  outline: 1px solid black;
  background: whitesmoke;
  box-shadow: 0px 0px 2px gray; }
  .tree-simple .node img:hover {
    box-shadow: 0px 0px 20px black; }

.tree-simple img {
  height: 75px;
  width: 75px; }
