.text-center {
  text-align: center; }

.rounded {
  border-radius: 50%; }

.emp-details {
  padding: 5vh; }

.navigation {
  background-color: #37474F; }

.tabs-title {
  display: inline-block; }

.is-active {
  background: #ECEFF1; }

.emp-photo {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border-right: 1px grey; }

.emp-badges {
  margin-top: 20px; }

.badges-padding {
  margin: 2px; }

.emp-manager {
  border-right: 1px solid lightgray; }

.emp-bottom-section {
  border-top: 1px solid lightgray; }

.emp-manager-image {
  border-radius: 50%; }

.emp-reports-image {
  border-radius: 50%; }
