$darkBase:#002f4c;
// $lightBase: #ECEFF1;
$lightBase: white;
$darkLight: darken($lightBase, 10%);
$active: darken($lightBase, 5%);
$body-font-family: 'Fira Sans', sans-serif;
$header-font-family: 'Fira Sans', sans-serif;
$paragraph-font-family: 'Fira Sans', sans-serif;
$topbar-link-font-family: 'Fira Sans', sans-serif;

*{
    font-family: 'Fira Sans', sans-serif !important;
}

.header{
    margin: 0px 0px 0px 10px;
    font-size: 48px;
}

.badge-request{
    background-color:$darkBase;
    color: $lightBase;
}

.badge{
    background-color: white;
    padding: .1rem; 
}

.logo{
    position: absolute;
    right: 25px;
    top: 10px;
    height: 165px;
}
.top-biz{
    position: relative;
    background-color:$darkBase;
    color: $lightBase;
}

.top-biz a{
    color: $lightBase;
    font-size: 1.2rem;
}

.top-bar ul{
    background-color: $darkBase;
}

.text-center{
    text-align: center;
}

.rounded{
    border-radius: 50%;
}

.emp-details {
    padding: 5vh;
}

.navigation {
   background-color: $darkBase
}

.tabs-title {
    display: inline-block
}

.spacer{
    padding: 4vh;
}

.is-active{ 
    background: $darkLight
} 
.tabs-title{
    border: 1px solid $darkLight;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 1px;
    a:hover {
        background: $active;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}
.tabs{
    border: none;
    border-bottom: 1px solid $darkLight;
    margin: 5px;
}

.admin-details a{
    color:$darkBase;
    font-weight: 500;
    font-size: .9rem;
   
}

.emp-photo{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border-right: 1px grey;
}

.admin-button{
    background-color: $darkBase;
}

.emp-badges{
    //width: 300px; //Match the width of the image
    margin-top: 20px;
}
.badges-padding{
    margin: 2px;
}

.emp-manager{
    border-right: 1px solid lightgray;
}

.emp-bottom-section{
    border-top: 1px solid lightgray;
}

.emp-manager-image{
    border-radius: 50%;
    width: 24vw;
}
.emp-reports-image{
    border-radius: 50%;
    width: 22vw;
    
}

.collapse-switch { 
    width: 175px !important; 
    height: 100% !important; 
    background: none !important; 
    border: none !important;
    margin-left: 75px;
    }
.Treant{
    .node.collapsed { 
        outline-color: lighten($darkBase, 20%); 
        box-shadow: 0px 0px 15px lighten($darkBase, 20%);
        }
} 

.tree-simple{
    
    p{
        margin: 0px 0px 0px 85px;
        color: black;
    }
    .node{
        width: 250px;
        height: 75px;
        outline: 1px solid black;
        background: whitesmoke;
        box-shadow: 0px 0px 2px gray;
        img:hover{
            box-shadow: 0px 0px 20px black ;
        }
    }
    
    img{
        height: 75px;
        width: 75px;
    }
}

.read-details a{
    color:$darkBase;
    font-weight: 500;
    font-size: 1rem;
}

.Fe-Be{
    font-weight: 600;
}

.fe-li{
    list-style-type: none;
}
