$darkBase:#002f4c;
$lightBase: #ECEFF1;
$darkLight: darken($lightBase, 35%);


.badge-request{
    background-color:$darkBase;
    color: $lightBase;
}

.badge{
    background-color: $darkLight; 
}


.top-biz{
    background-color:$darkBase;
    color: $lightBase;
}

.top-biz a{
    color: $lightBase;
}

.top-bar ul{
    background-color: $darkBase;
}

.text-center{
    text-align: center;
}

.rounded{
    border-radius: 50%;
}

.emp-details {
    padding: 5vh;
}

.navigation {
   background-color: $darkBase
}

.tabs-title {
    display: inline-block
}

// .is-active{ 
//     background: $lightBase
// } 

.admin-details a{
    color:$darkBase;
}

.emp-photo{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border-right: 1px grey;
}

.emp-badges{
    //width: 300px; //Match the width of the image
    margin-top: 20px;
}
.badges-padding{
    margin: 2px;
}

.emp-manager{
    border-right: 1px solid lightgray;
}

.emp-bottom-section{
    border-top: 1px solid lightgray;
}

.emp-manager-image{
    border-radius: 50%;
}
.emp-reports-image{
    border-radius: 50%;
}





