<div class="row emp-details">
    <div class="small-5 columns emp-photo">
        <img src="{{evc.employee.image}}" alt="" height="300" width="300">
    </div>
    <div class="small-7 columns">
        <div class="row">
            <div class="small-12 columns">
                <!--employeeId-->
                 <!--employeeName-->
                <h1>{{evc.employee.name}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <!--jobID-->
                <!--jobTitle-->
                <h2>{{evc.employee.job.title}}</h2>
                <h3>{{evc.employee.job.description}}</h3>
            </div>
        </div>
        <!--<div class="row">
            <div class="small-12 columns" ng-if="{{evc.employee.position.managerPositionId !== -1}}">-->
                <!--managerPosId-->
                <!--managerName-->
                <!--<h3>{{evc.employee.position.manager}}</h3>
            </div>
        </div>-->

   <!--<div class="row">
            <div class="small-12 columns">-->
                <!--Quote-->
                <!--Quote-->
                <!--<h3>"It's kind of fun to do the impossible"</h3>
            </div>
        </div>-->

           <div class="row">
            <div class="small-12 columns">
        <!--badge-->
                <h3>Requst badge etc</h3>
            </div>
        </div>


    </div>
</div>
<!--<div class="row">
<div class="columns small-12">
        <h4>Badges</h4>

</div>
</div>-->
    <!--employeeId-->
<div class="row small-collapse medium-collapse large-collapse">
    <div class="small-1 columns badges badges-padding" ng-repeat="badge in evc.employee.badges">
        <img src="{{badge.image}}" class="badge">
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <!--managerPosId-->
        <h4>Reports</h4>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <button class="button" ng-click="evc.getAllEmployees()">Get employee</button>
</div>