<div class="row emp-details">
    <div class="small-5 columns emp-photo">
        <img src="http://placehold.it/300x300" alt="">
    </div>
    <div class="small-7 columns">
        <div class="row">
            <div class="small-12 columns">
                <!--employeeId-->
                <h1>EMPLOYEE NAME</h1>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <!--jobID-->
                <h2>Job Title</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <!--managerPosId-->
                <h3>Manager Name</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!--employeeId-->
    <div class="small-12 columns badges">
        <img src="http://placehold.it/50x50" class="badge">
        <img src="http://placehold.it/50x50" class="badge">
        <img src="http://placehold.it/50x50" class="badge">
        <img src="http://placehold.it/50x50" class="badge">
        <img src="http://placehold.it/50x50" class="badge">
        <img src="http://placehold.it/50x50" class="badge">
        <img src="http://placehold.it/50x50" class="badge">
        <img src="http://placehold.it/50x50" class="badge">
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <!--managerPosId-->
        <h4>Reports</h4>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
    <div class="small-1 columns">
        <img src="http://placehold.it/100x100">
        <h5>Report Name</h5>
    </div>
</div>