<div class="row emp-details">
    <div class="small-5 columns emp-photo">
        <img id="emp-photo" class="emp-photo" src="{{evc.employee.image}}" alt="Image of {{evc.employee.name}}">
        <div id="emp-badges" class ="emp-badges badges-padding" ng-repeat="badge in evc.employee.badges">
            <img src="{{badge.image}}" class="badge">
        </div>
    </div>
    <div class="small-7 columns">
        <div class="row">
            <div class="small-12 columns">
                <!--employeeId-->
                <!--employeeName-->
                <h1>{{evc.employee.name}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <!--jobID-->
                <!--jobTitle-->
                <h2>{{evc.employee.job.title}}</h2>
                <h3>{{evc.employee.job.description}}</h3>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="small-12 columns">
                <!--badge-->
                <h3>Requst badge etc</h3>

                <form class="request-badge" id="requestedBadgeForm">
                    <label for="requested-badge"> Badge Titles </label>
                    <select id="requested-badge" ng-model="evc.requestedBadges" ng-options="badge as badge.title for badge in evc.badges"></select>
                    <button type="button" class="button">Submit Request</button>
                </form>
            </div>
        </div>


    </div>
</div>
<!--<div class="row">
<div class="columns small-12">
        <h4>Badges</h4>

</div>
</div>-->
<!--employeeId-->
<div class="row">
    <div class="small-12 columns">
        <!--managerPosId-->
        <h4>Reports</h4>
    </div>
    <div class="small-1 columns" ng-repeat="report in evc.reports">
        <img src="{{report.image}}">
        <h5>{{report.name}}</h5>
    </div>


    <!--<button class="button" ng-click="evc.getAllEmployees()">Get employee</button>-->
</div>