<div class="spacer"></div>

<div class="row">
    <div class="column medium-12">
        <h2 class="text-center">Bisualize is a corporate tool to vizualize employee progress, skills, and experience</h2>
    </div>
</div>



<div class="row column medium-12 medium-centered read-details">
    <ul class="tabs text-center" data-tabs id="example-tabs">
        <li class="tabs-title" ng-repeat="view in rvc.views" ng-class="{'is-active': rvc.activeView == view.name}"><a ng-click="rvc.activeView = view.name">{{view.name}}</a></li>
    </ul>
</div>

<div class="how-to">
    <div class="row" ng-show="rvc.activeView == 'How To Use'">
        <div class="columns medium-12">
            <h5>Strategy for the project</h5>
            <li>Overall strategy</li>
            <li>difference between job and position</li>
            <h5>Actual How To</h5>
            <li>how to add a new employee</li>
            <li>Add a new job</li>
            <li>add a new position</li>
            <li>employee switch job / position</li>
            <li>Terminate / delete (job position employee badge)</li>
            <li>Badge Stuff</li>
        </div>
    </div>
</div>

<div class="project-details">
    <div class="row" ng-show="rvc.activeView == 'Project Details'">
        <div class="medium-12 columns">
            <h5>Bisualize is Joshua Olds, Meredith Ganz, Dustin Patterson, and Mark Ohnsman's <a href="https://boisecodeworks.com/"
                    target="_blank" class="footer">CodeWorks</a> capstone project</h5>
            <h5 class="Fe-Be">Front End</h5>
            <li class="fe-li">The front end was built with Angular</li>
            <h5 class="Fe-Be">Back End</h5>
        </div>
    </div>
</div>