<button ng-click="avc.getEmployees()">Get employees</button>



<!--Object Tabs-->

<div class="row column medium-12 medium-centered admin-details">
  <ul class="tabs text-center" data-tabs id="example-tabs">
    <li class="tabs-title" ng-repeat="view in avc.views" ng-class="{'is-active': avc.activeView == view.name}"><a ng-click="avc.activeView = view.name">{{view.name}}</a></li>
  </ul>
</div>

<!--New and Edit Tabs-->
<div class="row column medium-12 medium-centered admin-details">
  <ul class="tabs text-center" data-tabs id="example-tabs">
    <li class="tabs-title" ng-class="{'is-active': avc.subActiveView == 'New'}"><a ng-click="avc.subActiveView = 'New'">New</a></li>
    <li class="tabs-title" ng-class="{'is-active': avc.subActiveView == 'Edit'}"><a ng-click="avc.subActiveView = 'Edit'">Edit</a></li>
  </ul>
</div>

<!--EMPLOYEES-->
<form class="new-employee">
  <div class="row" ng-show="(avc.activeView == 'Employees' && avc.subActiveView == 'New')">
    <div class="large-12 columns">
      <label> Employee Name
        <input type="text" placeholder="Name" ng-model="avc.name"/>
      </label>
      <label> Profile Picture URL
        <input type="url" placeholder="Picture URL" ng-model="avc.image"/>
      </label>
      <button type="button" class="button" ng-click="avc.BisualizeService.addEmployee(avc.name, avc.image)">Submit</button>
    </div>
  </div>
</form>

<div class="row" ng-show="avc.activeView == 'Employees' && avc.subActiveView == 'Edit'">
  <div class="large-12 columns">
    <form class="edit-employee" id="employeeForm">
      <label for="current-employee"> Employee Name </label>
      <select id="current-employee" ng-model="avc.currentEmployee" ng-options="employee as employee.name for employee in avc.employees"></select>
    </form>
    <form ng-if="avc.currentEmployee">
      <input type="text" placeholder="Name" ng-model="avc.currentEmployee.name" />
      <label> Profile Picture URL
        <input type="url" placeholder="Picture URL" ng-model="avc.currentEmployee.image"/>
      </label>
      <label> Job ID
        <input type="text" placeholder="Job ID" ng-model="avc.currentEmployee.jobId"/>
      </label>
      <label> Position ID
        <input type="text" placeholder="Position ID" ng-model="avc.currentEmployee.positionId"/>
      </label>
      <button type="button" class="button" ng-click="avc.updateEmployee(avc.currentEmployee.id, avc.currentEmployee)">Submit</button>
      <p ng-show="avc.feedbackSuccess">{{avc.feedback}}</p>
      <p ng-show="avc.feedbackFail">{{avc.feedback}}</p>
  </div>
</div>
</form>

<!--POSITIONS-->
<form class="new-position">
  <div class="row" ng-show="avc.activeView == 'Positions' && avc.subActiveView == 'New'">
    <div class="large-12 columns">
      <label> Manager Position ID
        <input type="text" placeholder="Manager Position ID" ng-model="avc.managerPositionId"/>
      </label>
      <button type="button" class="button" ng-click="avc.BisualizeService.addPosition(avc.managerPositionId)">Submit</button>
    </div>
  </div>
</form>

<form class="edit-position">
  <div class="row" ng-show="avc.activeView == 'Positions' && avc.subActiveView == 'Edit'">
    <div class="large-12 columns">
      <label> Position ID
        <input type="text" placeholder="Position ID" ng-model="avc.positionId"/>
      </label>
      <label> Employee ID
        <input type="text" placeholder="Employee ID" ng-model="avc.employeeId"/>
      </label>
      <label> Job ID
        <input type="text" placeholder="Job ID" ng-model="avc.jobId"/>
      </label>
      <button type="button" class="button" ng-click="">Submit</button>
    </div>
  </div>
</form>

<!--JOBS-->
<form class="new-job" id="jobForm">
  <div class="row" ng-show="avc.activeView == 'Jobs' && avc.subActiveView == 'New'">
    <div class="large-12 columns">
      <label> Job Title
        <input type="text" placeholder="Job Title" ng-model="avc.title"/>
      </label>
      <label> Job Description
        <textarea name="jobDescription" cols="30" rows="10" form="jobForm" ng-model="avc.description"></textarea>
      </label>
      <button type="button" class="button" ng-click="avc.BisualizeService.addJob(avc.title, avc.description)">Submit</button>
    </div>
  </div>
</form>

<div class="row" ng-show="avc.activeView == 'Jobs' && avc.subActiveView == 'Edit'">
  <div class="large-12 columns">
    <form class="edit-job" id="jobForm">
      <label for="current-job"> Job Title </label>
      <select id="current-job" ng-model="avc.currentJob" ng-options="job as job.title for job in avc.jobs"></select>
    </form>
    <form ng-if="avc.currentJob">
      <input type="text" placeholder="Job Title" ng-model="avc.currentJob.title" />
      <label> Job Description
        <textarea name="jobDescription" cols="30" rows="10" form="jobForm" ng-model="avc.currentJob.description"></textarea>
      </label>
      <button type="button" class="button" ng-click="avc.updateJob(avc.currentJob.id, avc.currentJob)">Submit</button>
      <p ng-show="avc.feedbackSuccess">{{avc.feedback}}</p>
      <p ng-show="avc.feedbackFail">{{avc.feedback}}</p>
  </div>
</div>
</form>


<!--BADGES-->
<form class="new-badge" id="badgeForm">
  <div class="row" ng-show="avc.activeView == 'Badges' && avc.subActiveView == 'New'">
    <div class="large-12 columns">
      <label> Badge Title
        <input type="text" placeholder="Badge Title" ng-model="avc.title"/>
      </label>
      <label> Badge Picture URL
        <input type="text" placeholder="Picture URL" ng-model="avc.image"/>
      </label>
      <label> Badge Description
        <textarea name="badgeDescription" cols="30" rows="10" form="badgeForm" ng-model="avc.description"></textarea>
      </label>
      <button type="button" class="button" ng-click="avc.BisualizeService.addBadge(avc.title, avc.description, avc.image)">Submit</button>
    </div>
  </div>
</form>

<div class="row" ng-show="avc.activeView == 'Badges' && avc.subActiveView == 'Edit'">
  <div class="large-12 columns">
    <form class="edit-badge" id="badgeForm">
      <label for="current-badge"> Badge Title</label>
      <select id="current-badge" ng-model="avc.currentBadge" ng-options="badge as badge.title for badge in avc.badges"></select>
    </form>
    <form ng-if="avc.currentBadge">
      <input type="text" placeholder="Badge Title" ng-model="avc.currentBadge.title" />
      <label>Badge Picture URL</label>
      <input type="text" placeholder="Picture URL" ng-model="avc.currentBadge.image" />
      <label> Badge Description</label>
      <textarea name="badgeDescription" cols="30" rows="10" form="badgeForm" ng-model="avc.currentBadge.description"></textarea>
      <button type="button" class="button" ng-click="avc.updateBadge(avc.currentBadge.id, avc.currentBadge)">Submit</button>
      <p ng-show="avc.feedbackSuccess">{{avc.feedback}}</p>
      <p ng-show="avc.feedbackFail">{{avc.feedback}}</p>
  </div>
</div>
</form>



<!--
NEW
dropdown of 4 objects that we're going to be pulling 

EDIT 
Dropdown properties -->