<!--<button ng-click="avc.getEmployees()">Get employees</button>-->



<!--Object Tabs-->

<div class="row column medium-12 medium-centered admin-details">
  <ul class="tabs text-center" data-tabs id="example-tabs">
    <li class="tabs-title" ng-repeat="view in avc.views" ng-class="{'is-active': avc.activeView == view.name}"><a ng-click="avc.activeView = view.name">{{view.name}}</a></li>
  </ul>
</div>

<!--New and Edit Tabs-->
<div class="row column medium-12 medium-centered admin-details">
  <ul class="tabs text-center" data-tabs id="example-tabs">
    <li class="tabs-title" ng-class="{'is-active': avc.subActiveView == 'New'}"><a ng-click="avc.subActiveView = 'New'">New</a></li>
    <li class="tabs-title" ng-class="{'is-active': avc.subActiveView == 'Edit'}"><a ng-click="avc.subActiveView = 'Edit'">Edit</a></li>
  </ul>
</div>

<div class="spacer"></div>

<!--EMPLOYEES-->
<form class="new-employee">
  <div class="row" ng-show="(avc.activeView == 'Employees' && avc.subActiveView == 'New')">
    <div class="large-12 columns">
      <label> Employee Name</label>
      <input type="text" placeholder="Name" ng-model="avc.name" />
      <label> Profile Picture URL</label>
      <input type="url" placeholder="Picture URL" ng-model="avc.image" />
      <button type="button" class="admin-button button" ng-click="avc.addEmployee(avc.name, avc.image); ">Submit</button>
      <p ng-show="avc.feedbackSuccess">{{avc.feedback}}</p>
      <p ng-show="avc.feedbackFail">{{avc.feedback}}</p>
    </div>
  </div>
</form>

<div class="row" ng-show="avc.activeView == 'Employees' && avc.subActiveView == 'Edit'">
  <div class="large-12 columns">
    <form class="edit-employee" id="employeeForm">
      <label for="current-employee"> Employee Name </label>
      <select id="current-employee" ng-model="avc.currentEmployee" ng-options="employee as employee.name for employee in avc.employees"></select>
    </form>
    <form ng-if="avc.currentEmployee">
      <label> Edit Name</label>
      <input type="text" placeholder="Name" ng-model="avc.currentEmployee.name" />
      <label> Profile Picture URL</label>
      <input type="url" placeholder="Picture URL" ng-model="avc.currentEmployee.image" />
      <label> Job </label>
      <select ng-model="avc.currentEmployee.jobId" ng-options="job.id as job.title for job in avc.jobs"></select>
      <label> Available Position</label>
      <select id="manager-position" ng-model="avc.currentEmployee.positionId" ng-options="position.id as ((position.job.title || 'No Title') + ' - ' + (position.employee.name || 'Empty')) for position in avc.positions.filter(avc.occupied)"></select>
      <label for="add-badge">Add Badge</label>
      <select id="add-badge" ng-model="avc.currentEmployee.badgeId" ng-options="badge.id as badge.title for badge in avc.badges"></badges>
      <input id="terminate" ng-model="avc.currentEmployee.terminate" type="checkbox"><label for="terminate">Terminate Employee (CAUTION: This can't be undone)</label>
      <br>
      <button type="button" class="button admin-button" ng-click="avc.updateEmployee(avc.currentEmployee.id, avc.currentEmployee)">Submit</button>
      <p ng-show="avc.feedbackSuccess">{{avc.feedback}}</p>
      <p ng-show="avc.feedbackFail">{{avc.feedback}}</p>
  </div>
</div>
</form>

<!--POSITIONS-->
<div class="row" ng-show="avc.activeView == 'Positions' && avc.subActiveView == 'New'">
  <div class="large-12 columns">
    <form class="new-position" id="positionForm">
      <label for="manager-position">Manager Position</label>
      <select id="manager-position" ng-model="avc.currentManagerPositionId" ng-options="position as ((position.job.title || 'No Title') + ' - ' + (position.employee.name || 'Empty')) for position in avc.positions"></select>
      <label for="jobId-position">Job</label>
      <select id="jobId-position" ng-model="avc.currentJobId" ng-options="job.id as job.title for job in avc.jobs"></select>
      <button type="button" class="button admin-button" ng-click="avc.addPosition(avc.currentManagerPositionId.id, avc.currentJobId); ">Submit</button>
    </form>
    <p ng-show="avc.feedbackSuccess">{{avc.feedback}}</p>
    <p ng-show="avc.feedbackFail">{{avc.feedback}}</p>
  </div>
</div>


<div class="row" ng-show="avc.activeView == 'Positions' && avc.subActiveView == 'Edit'">
  <div class="large-12 columns">
    <form class="edit-position" id="positionForm">
      <label for="current-position">Position</label>
      <select id="current-position" ng-model="avc.currentPosition" ng-options="position as ((position.job.title || 'No Title') + ' - ' + (position.employee.name || 'Empty')) for position in avc.positions"></select>
    </form>
    <label for="manager-position" ng-if="avc.currentPosition.managerPositionId != '-1'">Manager</label>
    <input type="text" ng-if="avc.currentPosition.managerPositionId != '-1'"ng-model="(avc.getManagerObj(avc.currentPosition.managerPositionId).employee.name || 'No Employee Assigned' )" disabled ></input>
    <label> Employee</label>
    <select ng-model="avc.currentPosition.employeeId" ng-options="employee.id as employee.name for employee in avc.employees"></select>
    <label> Job</label>
    <select ng-model="avc.currentPosition.jobId" ng-options="job.id as job.title for job in avc.jobs"></select>

    <input id="terminate" ng-model="avc.currentPosition.terminate" type="checkbox"><label for="terminate">Delete Position (CAUTION: This position must not have reports. This can't be undone)</label>
    <br>
    <button type="button" class="button admin-button" ng-click="avc.updatePosition(avc.currentPosition.id, avc.currentPosition )">Submit</button>
    <p ng-show="avc.feedbackSuccess">{{avc.feedback}}</p>
    <p ng-show="avc.feedbackFail">{{avc.feedback}}</p>
  </div>
</div>


<!--JOBS-->
<form class="new-job" id="jobForm">
  <div class="row" ng-show="avc.activeView == 'Jobs' && avc.subActiveView == 'New'">
    <div class="large-12 columns">
      <label> Job Title</label>
      <input type="text" placeholder="Job Title" ng-model="avc.title" />
      <label> Job Description</label>
      <textarea name="jobDescription" cols="30" rows="10" form="jobForm" ng-model="avc.description"></textarea>
      <button type="button" class="button admin-button" ng-click="avc.addJob(avc.title, avc.description); ">Submit</button>
      <p ng-show="avc.feedbackSuccess">{{avc.feedback}}</p>
      <p ng-show="avc.feedbackFail">{{avc.feedback}}</p>
    </div>
  </div>
</form>

<div class="row" ng-show="avc.activeView == 'Jobs' && avc.subActiveView == 'Edit'">
  <div class="large-12 columns">
    <form class="edit-job" id="jobForm">
      <label for="current-job"> Job Title </label>
      <select id="current-job" ng-model="avc.currentJob" ng-options="job as job.title for job in avc.jobs"></select>
    </form>
    <form ng-if="avc.currentJob">
      <input type="text" placeholder="Job Title" ng-model="avc.currentJob.title" />
      <label> Job Description</label>
      <textarea name="jobDescription" cols="30" rows="10" form="jobForm" ng-model="avc.currentJob.description"></textarea>
      <input id="terminate" ng-model="avc.currentJob.terminate" type="checkbox"><label for="terminate">Delete Job (CAUTION: This can't be undone)</label>
      <br>
      <button type="button" class="button admin-button" ng-click="avc.updateJob(avc.currentJob.id, avc.currentJob)">Submit</button>
      <p ng-show="avc.feedbackSuccess">{{avc.feedback}}</p>
      <p ng-show="avc.feedbackFail">{{avc.feedback}}</p>
  </div>
</div>
</form>


<!--BADGES-->
<form class="new-badge" id="badgeForm">
  <div class="row" ng-show="avc.activeView == 'Badges' && avc.subActiveView == 'New'">
    <div class="large-12 columns">
      <label> Badge Title</label>
      <input type="text" placeholder="Badge Title" ng-model="avc.badgeTitle" />
      <label> Badge Picture URL</label>
      <input type="text" placeholder="Picture URL" ng-model="avc.badgeImage" />
      <label> Badge Description</label>
      <textarea name="badgeDescription" cols="30" rows="10" form="badgeForm" ng-model="avc.badgeDescription"></textarea>
      <button type="button" class="button admin-button" ng-click="avc.addBadge(avc.badgeTitle, avc.badgeDescription, avc.badgeImage); ">Submit</button>
      <p ng-show="avc.feedbackSuccess">{{avc.feedback}}</p>
      <p ng-show="avc.feedbackFail">{{avc.feedback}}</p>
    </div>
  </div>
</form>

<div class="row" ng-show="avc.activeView == 'Badges' && avc.subActiveView == 'Edit'">
  <div class="large-12 columns">
    <form class="edit-badge" id="badgeForm">
      <label for="current-badge"> Badge Title</label>
      <select id="current-badge" ng-model="avc.currentBadge" ng-options="badge as badge.title for badge in avc.badges"></select>
    </form>
    <form ng-if="avc.currentBadge">
      <input type="text" placeholder="Badge Title" ng-model="avc.currentBadge.title" />
      <label>Badge Picture URL</label>
      <input type="text" placeholder="Picture URL" ng-model="avc.currentBadge.image" />
      <label> Badge Description</label>
      <textarea name="badgeDescription" cols="30" rows="10" form="badgeForm" ng-model="avc.currentBadge.description"></textarea>
      <input id="terminate" ng-model="avc.currentBadge.terminate" type="checkbox"><label for="terminate">Delete Badge (CAUTION: This can't be undone)</label>
      <br>
      <button type="button" class="button admin-button" ng-click="avc.updateBadge(avc.currentBadge.id, avc.currentBadge)">Submit</button>
      <p ng-show="avc.feedbackSuccess">{{avc.feedback}}</p>
      <p ng-show="avc.feedbackFail">{{avc.feedback}}</p>
  </div>
</div>
</form>



<!--
NEW
dropdown of 4 objects that we're going to be pulling 

EDIT 
Dropdown properties -->